---
import { localeMeta, locales, swapLocale, t } from "../lib/i18n.js";

const { locale, pathname } = Astro.props;
---

<div class="language-switch" aria-label={t(locale, "languageSwitch")}>
  {locales.map((code) => (
    <a
      class:list={["language-link", { active: code === locale }]}
      href={swapLocale(pathname, code)}
      lang={code}
      aria-current={code === locale ? "true" : undefined}
    >
      {localeMeta[code].shortLabel}
    </a>
  ))}
</div>
